/* style.css won't load, so we use foo.css */
body {
    font-family: Georgia;
}
textarea, input {
    font-family: monospace;
    font-size: 13px;
    width: 100%;
}

#editor-panel {
/*    height: 300px; */
    overflow-y: auto
}

#output {
    font-family: monospace;
    font-size: 13px;
    background-color: PaleGoldenRod;
/*    height:300px; */
    overflow-y: auto;
}

#eval-panel {
    display: table;
    width: 100%
}

#expr {
    display: table-cell;
    width: 90%;
}

#evalit {
    display: table-cell;
    margin-left: 8px;
    width: 8%;
}

#editormessages {
    overflow-y: auto;
    background-color: #ffcfcf;
    font-family: monospace;
    font-size: 13px;
}

.expr {
    font-weight: bold;
}

.header {
        background: url(ui-bg_highlight-hard_100_f9f9f9_1x100.png) 0 50% repeat-x;
	/* background: #80ade5 url(../img/80ade5_40x100_textures_04_highlight_hard_100.png) 0 50% repeat-x; */
	border-bottom: 1px solid #777;
	font-weight: bold;
	text-align: center;
	padding: 2px 0 4px;
	position: relative;
	overflow: hidden;
}

.CodeMirror-wrap {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
}


.CodeMirror-scroll {
        height: 100% !important; /* override CodeMirror default */
}
