/* style.css won't load, so we use foo.css */
body {
    font-family: Georgia;
}
textarea, input {
    font-family: monospace;
    font-size: 13px;
    width: 100%;
}

#editor-panel {
/*    height: 300px; */
    overflow-y: auto
}

#output {
    font-family: monospace;
    font-size: 13px;
    background-color: PaleGoldenRod;
/*    height:300px; */
    overflow-y: auto;
}

#eval-panel {
    display: table;
    width: 100%
}

#expr {
    display: table-cell;
    width: 90%;
}

#evalit {
    display: table-cell;
    margin-left: 8px;
    width: 8%;
}

#editormessages {
    height: 50px;
    overflow-y: auto;
}
